<ion-header no-margin no-padding>
    <ion-navbar color="bizzy">
    </ion-navbar>
   </ion-header>
  
  <ion-content>
      <div style="height: 150px; margin: 0; background-color: #fecb00;">
        <ion-row>
            <ion-col col-8>
            <span style="color: #ffffff; margin-left: 30px; font-size: 28px; font-style: light;">Edit Profile</span>
            </ion-col>
            <ion-col col-4>
            </ion-col>
  
    
        </ion-row>
            <img src="assets/icon/eko.svg" style="width: 100%; margin-top: 15px;">
      </div>
      <div>
        <ion-segment [(ngModel)]="profile_segment">
            <ion-segment-button value="main">
              <p no-margin style="font-size: 12px; color: gray;">Account Details</p>
            </ion-segment-button>
            <ion-segment-button value="pass">
                <p no-margin style="font-size: 12px; color: gray;">Reset Password</p>
            </ion-segment-button>
          </ion-segment>
          <hr no-padding no-margin>
      </div>

      <div [ngSwitch]="profile_segment" style="padding: 0px 20px 0px 30px;">
        
    <ion-list *ngSwitchCase="'main'">
        <ion-grid>
  
        <ion-row>
          <ion-col col-10 offset-1>
                <div transparent text-center>
                  
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <form [formGroup]="userData" (ngSubmit)="editProfile(userData.value)" >
            <ion-row>
                         <!---Input field username-->
          <ion-col col-6>
                <ion-item no-padding transparent>
                        <ion-label color="dark" stacked>Firstname</ion-label>
                        <ion-input required type="text" formControlName="fname" value="{{userDetails.name}}"></ion-input>
                    </ion-item>
          </ion-col>

          <!---Input field username-->
          <ion-col col-6>
          <ion-item no-padding transparent>
                <ion-label color="dark" stacked>Surname</ion-label>
                <ion-input required type="text" formControlName="lname" value="{{userDetails.surname}}"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
        <div *ngIf="userDetails.gender == null;else nog">
                <ion-item no-padding transparent>
                    <ion-label color="white" stacked>Gender</ion-label>
                    <ion-select class="formF" formControlName="gender">
    
                        <ion-option value="Male">Male</ion-option>
        
                         <ion-option value="Female">Female</ion-option>
        
                    </ion-select>
                  </ion-item>

        </div>
        <ng-template #nog>
                <ion-input type="text" formControlName="gender" value="{{userDetails.gender}}" hidden></ion-input>
            </ng-template>
              <ion-row>
                    <ion-input type="text" formControlName="uid" value="{{userDetails.user_id}}" hidden></ion-input>
                    <ion-input type="text" formControlName="user" value="{{userDetails.username}}" hidden></ion-input>
              <!---Input field username-->
                    <!-- <ion-col *ngIf="userDetails.birthday == null;else nodata" col-6>
                          <ion-item no-padding transparent>
                               <ion-label color="dark" stacked>Birthday</ion-label>
                               <ion-input type="date" displayFormat="YYYY-MM-DD" formControlName="birthday"></ion-input>
                           </ion-item>
                      </ion-col>

              <ng-template #nodata>
                    <ion-col col-6>
                          <ion-item no-padding transparent>
                               <ion-label color="dark" stacked>Birthday</ion-label>
                               <ion-input type="text" disabled formControlName="birthday" value="{{userDetails.birthday}}"></ion-input>
                           </ion-item>
                      </ion-col>
                  </ng-template> -->

<!---Input field username-->
          <ion-col col-12>
                <ion-item no-padding transparent>
                     <ion-label color="dark" stacked>Phone Number</ion-label>
                     <ion-input type="text" formControlName="phone" value="{{userDetails.number}}"></ion-input>
                 </ion-item>
            </ion-col>
 <!---Input field username-->
          <ion-col col-6>
                <ion-item no-padding transparent>
                <ion-label color="dark" stacked>Facebook Username</ion-label>
                <ion-input type="text" formControlName="fb" value="{{userDetails.fb}}"></ion-input>
                </ion-item>
            </ion-col>

<!---Input field username-->
          <ion-col col-6>
                <ion-item no-padding transparent>
                <ion-label color="dark" stacked>Twitter</ion-label>
                <ion-input type="text" formControlName="twt" value="{{userDetails.twt}}"></ion-input>
                </ion-item>
            </ion-col>
<!---Input field username-->
          <ion-col col-6>
                <ion-item no-padding transparent>
                <ion-label color="dark" stacked>Instagram</ion-label>
                <ion-input type="text" formControlName="ig" value="{{userDetails.ig}}"></ion-input>
                </ion-item>
            </ion-col>

<!---Input field username-->
          <ion-col col-6>
                <ion-item no-padding transparent>
                <ion-label color="dark" stacked>Website</ion-label>
                <ion-input type="text" formControlName="web" value="{{userDetails.web}}"></ion-input>
                </ion-item>
            </ion-col>

</ion-row>
            <!---Register button-->
            <div style="padding-top: 20px;">
                    <button ion-button block text-capitalize style="color: #ffffff" type="submit" [disabled]="!userData.valid">Submit</button>
            </div>
            </form>
        </ion-col>
                </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      </ion-list>
      <ion-list *ngSwitchCase="'pass'">

          <ion-grid>
  
              <ion-row>
                <ion-col col-10 offset-1>
                      <div transparent text-center>
                        
            <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                  <ion-row>
                      <ion-item no-padding transparent>
                          <ion-label color="dark" stacked>Enter New Passwod</ion-label>
                          <ion-input required type="password" [(ngModel)]="pass.p1"></ion-input>
                      </ion-item>
                      <ion-item no-padding transparent>
                          <ion-label color="dark" stacked>Repeat Password</ion-label>
                          <ion-input required type="password" [(ngModel)]="pass.p2"></ion-input>
                      </ion-item>
                  </ion-row>
                  <!---Register button-->
                  <div style="padding-top: 20px;">
                          <button ion-button block text-capitalize style="color: #ffffff" (click)="updatePass()">Submit</button>
                  </div>
              </ion-col>
                      </div>
                </ion-col>
              </ion-row>
          </ion-grid>

      </ion-list>
      </div>
    </ion-content>
    