page-bizzy-event {
    .mytoolbar{
    height: 100px !important;
  }
      /* Profile avatar */
      .avatar {
        max-height: 75px !important;
        max-width: 75px !important;
        object-fit: cover;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
      }

  .divPad {
    padding: 0px 20px 0px 30px;
  }

  @include settingAnimationHeader;

  .scroll-content {
    top: -56px;
  }
  #map {
    width: 100%;
    height: 100%;
  }
/* ==========================================================================
   Countdown styles
   ========================================================================== */
   #countdown{
    padding-top: 30px;
   }
ul.countdown {
    list-style: none;
    display: block;
  }
  
  .countdown p { color: #FECB00; }
  
  ul.countdown li { display: inline-block; }
  
  ul.countdown li span { font-size: 30px;  color: #FECB00; }
  
  ul.countdown li.seperator {
    font-size: 30px;
    line-height: 50px;
    vertical-align: top;
  }
  
  ul.countdown li p {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #000;
  }
  
  .card, .list-inset {
    overflow: hidden;
    margin: 0 0 20px 0;
    border-radius: 2px;
    background-color: #fff; }
  
  .card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
    .card .item {
      border-left: 0;
      border-right: 0; }
    .card .item:first-child {
      border-top: 0; }
    .card .item:last-child {
      border-bottom: 0; }

      .item-inner {
        margin-left: 5px;
    font-size: 14px;
      }

      .card-header-md {
        padding-top: 40px;
        font-size: 20px !important;
        text-transform: uppercase;
    }

}
