
<ion-header no-padding>
    <ion-navbar color="bizzytop">
        <ion-buttons end>
            <button ion-button icon-only (click)="openPopover($event)">
              <ion-icon color="white" name="more"></ion-icon>
            </button>
          </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content elastic-header>

  <hr no-margin no-padding>
  
    <!-- Cards -->
    <ion-card no-padding no-margin class="card">
      
        <cl-image public-id="events/{{event.image}}"> 
          <!-- <cl-transformation gravity="face" height="300" crop="fill">
            </cl-transformation> -->
          </cl-image>

    <ion-row  style="background-color:#FECB00">
        <ion-col col-10>
          <div *ngIf="date > event.countdown;else count">
            <h1 style="color:#ffffff; font-size: 30px; padding: 10px 30px;">Past Event</h1>
          </div>
          <ng-template #count>
              <div text-center>
                  <ul class="countdown" style="padding-left: unset;">
                      <li> <span class="days">{{_days}}</span>
                        <p class="timeRefDays">days</p>
                      </li>
                      <li style="padding: 0 8px; color:#ffffff;">:</li>
                      <li> <span class="hours">{{_hours}}</span>
                        <p class="timeRefHours">hours</p>
                      </li>
                      <li style="padding: 0 8px; color:#ffffff;">:</li>
                      <li> <span class="minutes">{{_minutes}}</span>
                        <p class="timeRefMinutes">minutes</p>
                      </li>
                      <li style="padding: 0 8px; color:#ffffff;">:</li>
                      <li> <span class="seconds">{{_seconds}}</span>
                        <p class="timeRefSeconds">seconds</p>
                      </li>
                    </ul>
                  </div>
          </ng-template>
        </ion-col>
        <!-- <ion-col col-4 >
            <button ion-button color="white" style="margin-top: 18px; color:#FECB00;">Get Tix</button>
        </ion-col> -->
      </ion-row>
  
      <ion-card-content>
        <div class="divPad">
            <h2 style="font-weight: 100; font-size: 30px;">{{event.title}}</h2>
            <div>
                <p style="font-size: 16px; font-weight: 200; padding-top: 10px;">
                  <ion-icon name="ios-calendar-outline" item-start></ion-icon>
                  {{event.countdown | moment:'dddd, MMMM D, YYYY'}} </p>
      
                <p style="font-size: 16px; font-weight: 200;">  <ion-icon name="ios-clock-outline" item-start></ion-icon>
                  {{event.countdown | moment:'HH : MM'}} hrs </p>
            </div>
            <div style="padding-top: 16px">
                <p style="font-size: 16px; font-weight: 100;"> <ion-icon name="ios-navigate-outline" item-start></ion-icon>
                <span>
                  {{event.place}} | {{event.loc_city}} 
                </span> </p>
            </div>

            <div style="padding-top: 16px">
            <button style="border-radius: 5px; color: gray; font-size: 10px !important;" ion-button outline color="gray" ion-button icon-right (click)="saveEvent()"  [disabled]="disableSave"> add to calendar<ion-icon color="gray" name="ios-calendar"></ion-icon></button>

            <div *ngIf="event.countdown > date; then next"></div>
            <ng-template #next>
      <button *ngIf="checkLent == 0;else other_content" style="border-radius: 5px; color: gray; font-size: 10px !important;" ion-button outline color="gray" ion-button icon-right [disabled]="disableButton" (click)="checkIn()"> Checkin Event <ion-icon color="gray" name="checkmark-circle-outline"></ion-icon></button>
            </ng-template>
            <ng-template #other_content>
  <button style="border-radius: 5px; color:#FECB00; font-size: 10px !important;" ion-button outline color="bizzy" ion-button icon-right disabled> Checked in<ion-icon color="bizzy" name="checkmark-circle-outline"></ion-icon></button>
            </ng-template>

          </div>
        </div>
      <ion-row>
          <ion-col col-12>
          </ion-col>

        <!-- <ion-col col-4 text-center>
            <ion-item>
                <p style="color: #A7A9AC; float: right;"><ion-icon name="folder" style="font-size: unset;"></ion-icon>  {{event.category}}</p>
        </ion-item>
        </ion-col> -->

      </ion-row>
      
      </ion-card-content>
  
    </ion-card>
    <!-- Cards -->
    <ion-card no-padding padding-bottom no-margin class="card">
        <div class="divPad">
        <ion-card-header>
          Event Details
        </ion-card-header>
    
      <ion-card-content>
          <div class="item item-text-wrap" [innerHTML]="event.descp"></div>
      </ion-card-content>
        </div>
    </ion-card>
  
    <!-- Cards -->
    <ion-card no-padding padding-bottom no-margin class="card">
        <div class="divPad">
        <ion-card-header style="padding-top: 20px;">
          Location <button transparent item-end (click)="OpenUber();"><img src="assets/icon/taxify.svg" style="height: 30px;"></button>
        </ion-card-header>
    
        <ion-card-content style="height: 200px;">
            <div #map id="map"></div>
        </ion-card-content>
        </div>
      </ion-card>

    <!-- Cards -->
    <ion-card no-padding padding-bottom no-margin class="card">
        <div class="divPad" style="background-color: #eaeaea">
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-avatar item-start (click)="goToUser()">
                <!-- <img clSrc="https://res.cloudinary.com/bizzybody-ng/image/upload/c_fill,g_faces,h_75,r_50,w_75/users/{{event.img}}" style=" object-fit: cover;border-radius: 100px;"> -->
                <img src="https://res.cloudinary.com/bizzybody-ng/image/upload/c_fill,g_faces,h_200,r_50,w_200/users/{{event.img}}"  class="avatar">
            </ion-avatar>
            <h1> Publisher</h1>
            <p style="font-size: 16px; font-weight: 100;">{{event.username}}</p>

            <div *ngIf="event.username != userDetails.username ;then ff">
                </div>
                <ng-template #ff>
                  <div *ngIf="ffLent == 0;else other_content2" item-end>
                    <button style="border-radius: 5px; font-size: 10px; color: gray;" item-end ion-button outline small color="gray" ion-button icon-right (click)="followIn()"> Follow</button>
                   </div>
                </ng-template>
                <ng-template #other_content2>
      <button style="border-radius: 5px; font-size: 10px; color:#FECB00;" item-end ion-button outline small color="bizzy" ion-button icon-right disabled> Following</button>
                </ng-template>

          </ion-item>
        </ion-list>
      </ion-card-content>
        </div>
    </ion-card>

        <!-- Cards -->
        <ion-card no-padding padding-bottom no-margin class="card">
            <div class="divPad">
            <ion-card-header>
              Similar Events
            </ion-card-header>
        
          <ion-card-content>
              <ion-item no-padding>
                <ion-row *ngFor="let event of (similarE)" style="padding: 10px 0px;" (click)="goBizzyEvent(event)">
                  <ion-col col-4 no-padding>
                      <ion-card class="card" no-margin> <cl-image public-id="events/{{event.image}}" >
                            <cl-transformation gravity="faces" height="100" radius="5" width="105" crop="fill">
                            </cl-transformation>
                          </cl-image>
                        </ion-card>
              </ion-col>
        
              <ion-col col-8 style="padding-left: 20px;">
                <h5 text-wrap style="font-weight:500; text-transform: uppercase; padding-bottom: 8px;">{{event.title}}</h5>
        
                <p style="color: #4F4F4F; font-size: 10px;"><ion-icon name="ios-calendar-outline" color="bizzy" style="font-size: unset;"></ion-icon>  {{event.countdown | moment:'dddd, MMMM D, YYYY'}} </p>
                <p text-wrap style="color: #4F4F4F; font-size: 10px;"><ion-icon name="ios-navigate-outline" color="bizzy"></ion-icon>  {{event.place}} | {{event.loc_city}}</p>
              </ion-col>
            </ion-row>
              </ion-item>
          </ion-card-content>
            </div>
        </ion-card>

        <!-- Cards -->
        <!-- <ion-card no-padding padding-bottom no-margin class="card" style="background-color:#FECB00;">
        
          <ion-card-content>
              <button ion-button color="bizzy" clear>Buy Ticket</button>
          </ion-card-content>

          
        </ion-card> -->
        <div *ngIf="event.countdown > date; then next2"></div>

        <ng-template #next2>
            <ion-fab right bottom>
                <button ion-fab mini><ion-icon color="white" name="share"></ion-icon></button>
                <ion-fab-list side="left">
                  <button ion-fab (click)="facebookShare()"><ion-icon color="facebook" name="logo-facebook"></ion-icon></button>
                  <button ion-fab (click)="twitterShare()"><ion-icon color="twitter" name="logo-twitter"></ion-icon></button>
                  <button ion-fab (click)="whatsappShare()"><ion-icon color="secondary" name="logo-whatsapp"></ion-icon></button>
                  <button ion-fab (click)="share()"><ion-icon color="bizzy" name="ios-more-outline"></ion-icon></button>
                </ion-fab-list>
              </ion-fab>
        </ng-template>
  </ion-content>
  <ion-footer >
    <ion-toolbar color="bizzy">
        <div *ngIf="event.countdown > date; then next3">
        </div>
        <ng-template #next3>
            <ion-row>
              <ion-col col-6 style="padding-left: 30px;">
              <div *ngIf="event.ticket == 1;else tix2"> 
                  <button ion-button color="white" style="color:#FECB00; border-radius: 5px;" (click)="goTicketInfo(event)">Get Ticket</button>
              </div>
              <ng-template #tix2>
                  <div *ngIf="event.ticket == 2;else tix0"> 
                      <button ion-button color="white" style="color:#FECB00; border-radius: 5px;">Fill Form</button>
                  </div>
                </ng-template>
                <ng-template #tix0>
                    <button ion-button disabled color="white" style="color:#FECB00; border-radius: 5px;">No Event Ticket</button>
                  </ng-template>
              </ion-col>
              <ion-col col-6 style="padding-right: 20px;" *ngIf="checkLent == 0">
                          <button style="float:right; border-radius: 5px; color: #ffffff;" ion-button outline color="white" ion-button icon-right [disabled]="disableButton" (click)="checkIn()"> Checkin <ion-icon color="white" name="checkmark-circle-outline"></ion-icon></button>
              </ion-col>
            </ion-row>
        </ng-template>
    </ion-toolbar>
  </ion-footer>