<ion-header no-margin no-padding>
  <ion-toolbar color="bizzy">
      <ion-buttons end>
          <button ion-button icon-only (click)="goToProfile()">
              <ion-avatar>
                <img height="25px" width="25px" style=" object-fit: cover;border-radius: 100px;" src="https://bizzybody.ng/uploads/users/{{userDetails.img}}">
              </ion-avatar>
            </button>
          <button ion-button icon-only (click)="openPopover($event)">
            <ion-icon color="white" name="more"></ion-icon>
          </button>
        </ion-buttons>
  </ion-toolbar>
 </ion-header>

<ion-content  no-padding no-margin>
    <div *ngIf="userDetails.location_id == 1;else loc2"> 
  <div style="height: 200px; margin: 0; background-color: #fecb00;">
    <ion-row>
        <ion-col col-8>
        <p class="pgTitle1">Wetin dey for</p>
        <span class="pgTitle2">Lagos Mainland?</span>
        <p style="margin-top: 30px; margin-left: 30px; padding-bottom:5px; color: #ffffff; font-size: 18px; font-weight: 300; font-style: medium;">Upcoming</p>
        </ion-col>
        <ion-col col-4>
            <img src="assets/icon/lag.svg" class="svgImg">
            </ion-col>
    
        </ion-row>
      </div>
    </div>
    
<ng-template #loc2>
    <div *ngIf="userDetails.location_id == 2;else loc3"> 
  <div style="height: 200px; margin: 0; background-color: #fecb00;">
    <ion-row>
        <ion-col col-8>
        <p style="color: #ffffff; margin-left: 30px; margin-bottom: 0;">Wetin dey for</p>
        <span style="color: #ffffff; margin-left: 30px; font-size: 25px; font-weight: 300; font-style: light;">Lagos Island?</span>
        <p style="margin-top: 30px; margin-left: 30px; padding-bottom:5px; color: #ffffff; font-size: 18px; font-weight: 300; font-style: medium;">Upcoming</p>
        </ion-col>
        <ion-col col-4>
            <img src="assets/icon/ilnd.svg" class="svgImg">
            </ion-col>
    
        </ion-row>
      </div>
    </div>
</ng-template>

<ng-template #loc3>
    <div *ngIf="userDetails.location_id == 3;else loc4"> 
    <div style="height: 200px; margin: 0; background-color: #fecb00;">
      <ion-row>
          <ion-col col-8>
          <p style="color: #ffffff; margin-left: 30px; margin-bottom: 0;">Wetin dey for</p>
          <span style="color: #ffffff; margin-left: 30px; font-size: 25px; font-weight: 300; font-style: light;">Abuja naa?</span>
          <p style="margin-top: 30px; margin-left: 30px; padding-bottom:5px; color: #ffffff; font-size: 18px; font-weight: 300; font-style: medium;">Upcoming</p>
          </ion-col>
          <ion-col col-4>
              <img src="assets/icon/abj.svg" class="svgImg">
              </ion-col>
      
          </ion-row>
        </div>
      </div>
    </ng-template>

    <ng-template #loc4>
        <div *ngIf="userDetails.location_id == 4;else loc5"> 
        <div style="height: 200px; margin: 0; background-color: #fecb00;">
          <ion-row>
              <ion-col col-8>
              <p style="color: #ffffff; margin-left: 30px; margin-bottom: 0;">Abobi, we dey</p>
              <span style="color: #ffffff; margin-left: 30px; font-size: 25px; font-weight: 300; font-style: light;">Portharcourt oo</span>
              <p style="margin-top: 30px; margin-left: 30px; padding-bottom:5px; color: #ffffff; font-size: 18px; font-weight: 300; font-style: medium;">Upcoming</p>
              </ion-col>
              <ion-col col-4>
                  <img src="assets/icon/phc.svg" class="svgImg">
                  </ion-col>
          
              </ion-row>
            </div>
          </div>
        </ng-template>

        <ng-template #loc5>
            <div *ngIf="userDetails.location_id == 5;else loc6"> 
            <div style="height: 200px; margin: 0; background-color: #fecb00;">
              <ion-row>
                  <ion-col col-8>
                  <p style="color: #ffffff; margin-left: 30px; margin-bottom: 0;">Wetin dey for</p>
                  <span style="color: #ffffff; margin-left: 30px; font-size: 25px; font-weight: 300; font-style: light;">Other Naija States?</span>
                  <p style="margin-top: 30px; margin-left: 30px; padding-bottom:5px; color: #ffffff; font-size: 18px; font-weight: 300; font-style: medium;">Upcoming</p>
                  </ion-col>
                  <ion-col col-4>
                      <img src="assets/icon/9ja.svg" class="svgImg">
                      </ion-col>
              
                  </ion-row>
                </div>
              </div>
            </ng-template>

            <ng-template #loc6>
                <div *ngIf="userDetails.location_id == 6;else loc7"> 
                <div style="height: 200px; margin: 0; background-color: #fecb00;">
                  <ion-row>
                      <ion-col col-8>
                      <p style="color: #ffffff; margin-left: 30px; margin-bottom: 0;">Charlie, wetin dey</p>
                      <span style="color: #ffffff; margin-left: 30px; font-size: 25px; font-weight: 300; font-style: light;">Ghana Inside?</span>
                      <p style="margin-top: 30px; margin-left: 30px; padding-bottom:5px; color: #ffffff; font-size: 18px; font-weight: 300; font-style: medium;">Upcoming</p>
                      </ion-col>
                      <ion-col col-4>
                          <img src="assets/icon/acc.svg" class="svgImg">
                          </ion-col>
                  
                      </ion-row>
                    </div>
                  </div>
                </ng-template>

                <ng-template #loc7>
                    <div *ngIf="userDetails.location_id == 7;else loc_empty"> 
                    <div style="height: 200px; margin: 0; background-color: #fecb00;">
                      <ion-row>
                          <ion-col col-8>
                          <p style="color: #ffffff; margin-left: 30px; margin-bottom: 0;">Maximum fun in</p>
                          <span style="color: #ffffff; margin-left: 30px; font-size: 25px; font-weight: 300; font-style: light;">Yonder</span>
                          <p style="margin-top: 30px; margin-left: 30px; padding-bottom:5px; color: #ffffff; font-size: 18px; font-weight: 300; font-style: medium;">Upcoming</p>
                          </ion-col>
                          <ion-col col-4>
                              <img src="assets/icon/os.svg" class="svgImg">
                              </ion-col>
                      
                          </ion-row>
                        </div>
                      </div>
                    </ng-template>

    <div style="margin-top:-100px; margin-bottom: 40px;">
        <div *ngIf="locLent != 0;else nodata"> 
                      <!-- Cards -->
                      <ion-card class="card" *ngFor="let event of (myLoc)" (click)="goBizzyEvent(event)">
        
                          <ion-row>
                            <ion-col col-12>
                              <ion-item>
                            <h2 style="text-transform: uppercase;">{{event.title}}</h2>
                            <p style="color: #B0B0B0;">{{event.e_category}}</p>
                            
                          </ion-item>
                            </ion-col >
                          </ion-row>
                              <img style="max-height: 150px; object-fit: cover;" width="100%" src="https://bizzybody.ng/uploads/events/{{event.image}}">
                       <ion-row>
                          <ion-col col-12>
                            
                            <ion-item>
                                <p style="color: #4F4F4F; font-size: 14px;"><ion-icon name="ios-calendar-outline" color="bizzy"></ion-icon>  {{event.countdown | moment:'MMM D, YYYY'}}        <span style="padding-left: 20px;">
                                    <ion-icon name="ios-clock-outline" color="bizzy"></ion-icon>   {{event.countdown | moment:'HH:mm'}}
                                </span></p>
                                <p style="color: #4F4F4F; font-size: 14px;"><ion-icon name="ios-navigate-outline" color="bizzy"></ion-icon>  {{event.place}} | {{event.loc_city}}</p>
                          
                        </ion-item>
                          </ion-col >
                        </ion-row> 
                  
                    </ion-card>

                  </div>
                  <ng-template #nodata>
                      <!-- Cards -->
                      <ion-card class="card">
        
                          <ion-row>
                            <ion-col col-12>
                              <ion-item padding no-lines>
                            <h2 text-wrap text-center style="text-transform: uppercase;">Sorry, No upcoming event in your location at this time</h2>
                            
                          </ion-item>
                            </ion-col >
                          </ion-row>
                              <!-- <img style="max-height: 150px; object-fit: cover;" width="100%" src="https://bizzybody.ng/uploads/events/{{event.image}}"> -->
                       <ion-row>
                          <ion-col col-12>
                            
                            <!-- <ion-item>
                                <p style="color: #4F4F4F; font-size: 14px;"><ion-icon name="ios-calendar-outline" color="bizzy"></ion-icon>  {{event.countdown | date:'mediumDate'}}        <span style="padding-left: 20px;">
                                    <ion-icon name="ios-clock-outline" color="bizzy"></ion-icon>  {{event.countdown | date:'shortTime'}}
                                </span></p>
                                <p style="color: #4F4F4F; font-size: 14px;"><ion-icon name="ios-navigate-outline" color="bizzy"></ion-icon>  {{event.place}} | {{event.loc_city}}</p>
                          
                        </ion-item> -->
                          </ion-col >
                        </ion-row> 
                  
                    </ion-card>
                      </ng-template>
                    <hr>
             
      <div *ngIf="locLent != 0">       
          <h2 style="padding-left: 30px; padding-top: 30px;">Events with Ticket</h2>
         <ion-card no-padding padding-bottom no-margin>
            <div class="divPad">
          <ion-card-content>
              <ion-item no-padding>
                <ion-row *ngFor="let event of (eTix)" style="padding: 10px 0px;" (click)="goBizzyEvent(event)">
                  <ion-col col-4 no-padding>
                      <ion-card class="card" no-margin>
                  <img src="https://bizzybody.ng/uploads/events/{{event.image}}" alt="" style="height: 100px; border-radius: 5px; object-fit: cover;">
                        </ion-card>
              </ion-col>
        
              <ion-col col-8 style="padding-left: 20px;">
                <h5 text-wrap style="font-weight:500; text-transform: uppercase; padding-bottom: 8px;">{{event.title}}</h5>
        
  <p style="color: #4F4F4F; font-size: 10px;"><ion-icon name="ios-calendar-outline" color="bizzy" style="font-size: unset;"></ion-icon>  {{event.countdown | moment:'dddd, MMMM D, YYYY'}} </p>
                <p text-wrap style="color: #4F4F4F; font-size: 10px;"><ion-icon name="ios-navigate-outline" color="bizzy"></ion-icon>  {{event.place}} | {{event.loc_city}}</p>
              </ion-col>
            </ion-row>
          </ion-item>
          </ion-card-content>
            </div>
          </ion-card>
        </div>
                    <h2 style="padding-left: 30px;">More Events</h2>
                <!-- Cards -->
                <ion-card class="card" *ngFor="let event of (events)" (click)="goBizzyEvent(event)">
        
                    <ion-row>
                      <ion-col col-12>
                        <ion-item>
                      <h2 style="text-transform: uppercase;">{{event.title}}</h2>
                      <p style="color: #B0B0B0;">{{event.e_category}}</p>
                      
                    </ion-item>
                      </ion-col >
                    </ion-row>
                        <img style="max-height: 150px; object-fit: cover;" width="100%" src="https://bizzybody.ng/uploads/events/{{event.image}}">
                 <ion-row>
                    <ion-col col-12>
                         
                      <ion-item>
                        <p style="color: #4F4F4F; font-size: 14px;"><ion-icon name="ios-calendar-outline" color="bizzy"></ion-icon>  {{event.countdown | moment:'MMM D, YYYY'}}        <span style="padding-left: 20px;">
                            <ion-icon name="ios-clock-outline" color="bizzy"></ion-icon>   {{event.countdown | moment:'HH:mm'}}
                        </span></p>
                        <p style="color: #4F4F4F; font-size: 14px;"><ion-icon name="ios-navigate-outline" color="bizzy"></ion-icon>  {{event.place}} | {{event.loc_city}}</p>
                  
                </ion-item>
                    </ion-col >
                  </ion-row> 
            
              </ion-card>
</div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
