page-settings {
    /* Profile avatar */
    .avatar {
        max-height: 120px !important;
        max-width: 120px !important;
        object-fit: cover;
        border:2px solid white;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
      }

      .item-md {
        padding-left: unset !important;
      }
}
